* {
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    background-size: 60px 60px;
}
