* {
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    all: unset;  /* 重置所有样式 */
    background: none; /* 去除背景 */
    border: none; /* 去除边框 */
    padding: 0; /* 去除内边距 */
    font: inherit; /* 继承父元素的字体 */
    color: inherit; /* 继承父元素的文字颜色 */
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.card ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;
}

.card ul li {
    flex-grow: 1;
    height: 300px;
    margin:  6px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.view-btn{
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9a6e3a;
    text-align: center;
}
